@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'FiraCode', Fallback, sans-serif;
    color: #FBFFFE;
    background-color: #878188;
}

.content{
    height: 80vh;
    align-items: stretch;
    width: 75%;
    margin: auto;
}

.spacer {
    flex: 1;
}


.header {
    height: 5vh;
    background-color: #1B1B1E;
    color: 7180b9;
}

.footer {
    height: 5vh;
    background-color: #1B1B1E;
    color: 7180b9;
}

.center-horizontal {
    margin: auto;
  }

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.ecosystem-logo {
    width: 175px;
}

.ecosystem-entry {
    padding: 10px 10px 5px 10px;
    border-color: #FBFFFE;
    background-color: #FBFFFE;
    border-radius: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.logo-container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.no-link {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #FAA916;
  }
  
  /* visited link */
  a:visited {
    color: #FAA916;
  }
  
  /* mouse over link */
  a:hover {
    color: #FAA916;
  }
  
  /* selected link */
  a:active {
    color: #FAA916;
  }