/*
 green: #338952;
 red: #ee5c58;
 font: #1b1b1b;
 background: #ffffff;
 bright-green: #45BE70;
 */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
    font-family: 'Roboto', Fallback, sans-serif;
    color: #1B1B1B;
    background-color: #ffffff;

    height: 100vh;
    overflow:hidden;
    display: grid;
    grid-template: 
      "header header-title header-title" auto
      "header-content-line header-content-line header-content-line" auto
      "toc article article" 1fr
      "toc github-discussions empty-grid-area" auto
      "content-footer-line content-footer-line content-footer-line" auto
      "footer footer footer" auto / auto 1fr auto;
}

.placeholder {
    height: 80vh;
    align-items: stretch;
    width: 100%;
}

.spacer {
    flex: 1;
}


.header {
    background-color: #ffffff;
    grid-area: header;
}

.header-title {
  background-color: #ffffff;
  grid-area: header-title;
}

.footer {
    background-color: #ffffff;
    color: #1B1B1E;
    grid-area: footer;
}

.center-horizontal {
    margin: auto;
  }

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-vertical {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}


.ecosystem-logo {
    width: 175px;
}

.ecosystem-entry {
    padding: 10px 10px 5px 10px;
    border-color: #1B1B1E44;
    background-color: #1B1B1E44;
    border-radius: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.logo-container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.no-link {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #338952;
  }
  
/* visited link */
a:visited {
  color: #338952;
}

/* mouse over link */
a:hover {
  color: #338952;
}

/* selected link */
a:active {
  color: #338952;
}

.toc-group > h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
    overflow: hidden;
}

.toc-group > ul {
  list-style-type: none;
}

.toc-group > ul > li {
    margin-left: 10px;
    font-size: 1.2rem;
}

.toc-content {
  display: flex;
}

.toc {
  padding-left: 1vh;
  padding-right: 1vh;
  grid-area: toc;
}

.article {
  padding-left: 1vh;
  padding-right: 1vh;
  grid-area: article;
}

.test-automation-header-logo {
  height: 8vh;
}

.header-content-line {
  background-color: #1b1b1b;
  grid-area: header-content-line;
  height: 1px;
  margin-bottom: 1vh;
}

.content-footer-line {
  background-color: #1b1b1b;
  grid-area: content-footer-line;
  height: 1px;
  margin-top: 1vh;
}

.empty-grid-area {
  grid-area: empty-grid-area;
}

.github-discussions {
  grid-area: github-discussions;
}

.motivation {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
}

.paragraph-break {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.image-w-200 {
  width: 200px;
}

/* Path: test-automation.dev\theme\input\assets\css\styles.css */