@{
    string title = Document.GetString("title") ?? Document.GetString("SiteTitle");
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/styles.css" rel="stylesheet"/>
    </head>
    <body >
        <header class="header">
            <div class="center-vertical center-horizontal" style="height: 5vh;">
                <h1>
                    <a class="no-link" href="/">Test-Automation.dev</a>
                </h1>
            </div>
        </header>

        <div class="content center-horizontal ">
            <div class="center-vertical"><h1>@title</h1></div>
            <div>
                @if (Document.GetBool("includeToc", true))
                {
                    var pages = this.OutputPages.GetDescendantsOf(this.Document, false);

                    if (pages.Count() == 0)
                    {
                        var parent = this.OutputPages.GetAncestorsOf(this.Document).FirstOrDefault();

                        if (parent != null)
                        {
                            pages = this.OutputPages.GetDescendantsOf(parent, false);
                        }
                    }

                    var groups = from p in pages
                                 group p by System.IO.Path.GetDirectoryName(p.Source.ToString()) into g
                                 orderby g.Key
                                 select g;


                    foreach (var group in groups)
                    {
                        <div class="toc-group">
                            <h2>@System.IO.Path.GetFileName(group.Key)</h2>
                            <ul>
                                @foreach (var page in group)
                                {
                                    <li>
                                        @Html.DocumentLink(page, page.GetString("title"))
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }

                @RenderBody() 
            </div>
        </div>

        <div class="spacer"></div>
        
        <footer class="footer">
            <div class="center-vertical center-horizontal" style="height: 5vh;">
                © 2023 Copyright:<a href="https://willich.io/" >Andreas "SabotageAndi" Willich</a> - <a href="/impressum.html">Impressum</a>
            </div>
        </footer>
    </body>
</html>