@{
    string title = Document.GetString("title") ?? Document.GetString("SiteTitle");
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/styles.css" rel="stylesheet"/>
    </head>
    <body class="min-h-full">
        <div class="container mx-auto ">
            <div class="text-center">
                <h1>@title</h1>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        
        <footer
            class="bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left sticky bottom-0 ">
            <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
                © 2023 Copyright:
                <a
                class="text-neutral-800 dark:text-neutral-400"
                href="https://tailwind-elements.com/"
                >Tailwind Elements</a
                >
            </div>
        </footer>
    </body>
</html>